* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    background-color: #b8c6db;
    background-image: url(images/ot2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.quiz-container {
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 1000, 0.1);
    width: 600px;
    max-width: 100%;
    overflow: hidden;
}

.quiz-header {
    padding: 4rem;
}

h2 {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.1rem;
    margin: 1rem 0;
}

button {
    display: block;
    background-color: red;
    color: white;
    border-radius: 15px;
    font-family: inherit;
    font-size: 1.3rem;
    width: 100%;
    padding: 1.3rem;
}

button:hover {
    background-color: white;
    color: black;
}